*, 
html, 
body {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    scroll-behavior: smooth;
}

ul {
    display: flex;
    gap: 10px;
    background: #222;
    justify-content: center;
    align-items: center;
}

li {
    display: flex;
    padding: 12px;
    list-style-type: none;
}

li > a {
    color: #777777;
    text-decoration: none;
    text-transform: uppercase;
    font-weight: 600;
}

li > a:hover {
    color: white;
    transition: .3s all ease-in-out;
}

.container {
    width: 500px;
    margin: 0 auto;
}

.wrapper {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    min-width: 325px;
    min-height: 100vh;
}

.content {
    margin: 8px;
}

.row {
    display: flex;
    flex-direction: row;
    justify-content: center;
}

input {
    border: none;
    background-color: #eaeaeaea;
    color: #222;
    padding: 16px;
    font-size: 24px;
    margin-top: 10px;
}


button {
    border: none;
    background: limegreen;
    font-size: 24px;
    padding: 16px;
    margin-left: 10px;
    height: 65px;
    margin-top: 10px;
    color: #eaeaea;
    font-weight: 600;
    border-radius: 10px;
}
button:hover {
    background-color: rgb(13, 156, 13);
    cursor: pointer;
    transition: .3s all ease-in-out;
}

#pertanyaan {
    font-size: 1.6em;
    font-weight: 500;
}

#loaders {
    display: none;
    width: 85px;
    height: 85px;
    position: absolute;
    border-top: 10px solid limegreen;
    border-radius: 50%;
    top: 50%;
    left: 50%;
    z-index: 9;
    animation: 1s spin infinite linear;
}

@keyframes spin {
    0% {
        transform: rotate(0deg);
    }

    100% {
        transform: rotate(360deg);
    }
    
}

.aboutContainer {
    width: 100%;
    min-height: 100vh;
    display: flex;
    justify-content: center;
    background-color: aquamarine;
    align-items: center;
}



.aboutWrapper {
    display: flex;
    gap: 40px;
}